.avatar {
    margin-left: 20px;
    width: 85px;
    height: 85px;
}

.text {
    margin-top: 20px;
    font-size: 25px;
    margin-left: 20px;
}

.listItem {
    align-items: flex-start;
}

.line {
    margin-top: 10px;
    width: 600px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.input {
    width: 350px;
    margin-top: 40px;
    margin-left: 35px;
    margin-bottom: 50px;
}