.title {
    text-align: center !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
}

.editButton {
    margin-left: 40px !important;
    
    
}

.LinkAdd {
    margin-left: 450px !important;
    text-decoration: none !important;
    color: "#FFFFFF" !important;
}