.root {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 10px;
    overflow: hidden;
    height: 1200px;
    margin-bottom: 15px;
}

.titleOfPage {
    font-size: 45px;
    color: #383838;
    margin-bottom: 30px;
}

.passwordEdit {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 10px;
    overflow: hidden;
    height: 390px;
    margin-bottom: 15px;
    margin-top: 95px;
}

.password {
    font-size: 22px;
    color: #383838;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 10px;
}

.oldPasswor {
    margin-bottom: 40px !important;
    width: 300px !important;
    height: 40px !important;
    margin-left: 30px !important;
}

.submit {
    width: 150px !important;
    margin-left: 105px !important;
}

.submitMain {
    width: 150px !important;
    padding-left: 155px !important;
}

.avatar {
    margin-top: 40px;
    margin-left: 40px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.uploadButton {
    margin-left: 102px !important;
}

.editButton {
    margin-left: 40px !important;
}

.delete {
    margin-left: 20px !important;
}

.fieldButton {
    width: 400px !important;
    margin-left: 40px !important;
}

.field {
    font-size: 17px !important;
    color: #383838 !important;
    margin-bottom: 7px !important;
    margin-left: 40px !important;
}

.line {
    width: 560px;
    padding-bottom: 40px;
    margin-left: 40px;
    margin-top: 30px;
}


.select {
    text-align: center !important;
    margin-bottom: 20px !important;
    display: flex;
    padding: 15px !important;
    width: 400px;
    color: #383838;
    font-family: "Gill Sans", sans-serif;
    font-size: 15px !important;
    border: 1px solid #dedede;
    margin-left: 40px;
}

